ion-card {
  background-color: rgb(72, 85, 142);
  text-align: center;
}

ion-card-title {
  color: aliceblue;
  font-weight: bold;
}

ion-card-content {
  color: white;
  text-align: left;
  text-transform: capitalize;
  font-weight: bold;
}

.physical {
  color: green;
  text-transform: uppercase;
}

.emotional {
  color: white;
  text-transform: uppercase;
}

.intellectual {
  color: red;
  text-transform: uppercase;
}
